<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iskryb</title>
    <link rel="stylesheet" href="/styles/layout.css">
</head>
<body>

    <nav class="navbar">
        <button class="navbutton">☰</button>
        <div class="logo">
            <h2><a href="/landingpage">Iskryb</a></h2>
        </div>
        <div class="nav-icons">
            <form action="/logOut" method="post">
                <input class="logout-button" type="submit" value="Log out">
            </form>
        </div>
    </nav>

    <div class="container">
        
        <div class="sidebar">
            <div class="sidebar-icons">
                <div class="logoInSidebar"> 
                    <h2><a href="/landingpage">Iskryb</a></h2>
                </div>
                <li><a class="sidebar_anchor" href='/about'>About</a></li>
                <li><a class="sidebar_anchor" href='/landingpage'>Home</a></li>
            </div>
        </div>

        <div class="contentcontainer">
           <div class="left">
            <h1>Hello, welcome to iskrib!!</h1>
           </div>
           <div class="right"></div>
        </div>
        
    </div>
</body>
<script src="/javascript.js"></script>
</html>
            