<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iskryb</title>
    <link rel="stylesheet" href="/styles/layout.css">
</head>
<body>

    <nav class="navbar">
        <button class="navbutton">☰</button>
        <div class="logo">
            <h2><a href="/landingpage">Iskryb</a></h2>
        </div>
        <div class="nav-icons">
            <li><a href='/about'>About</a></li>
            <li><a href='/landingpage'>Home</a></li>
        </div>
    </nav>

    <div class="container">

        <div class="sidebar">
            <div class="sidebar-icons">
                <div class="logoInSidebar"> 
                    <h2><a href="/landingpage">Iskryb</a></h2>
                </div>
                <li><a class="sidebar_anchor" href='/about'>About</a></li>
                <li><a class="sidebar_anchor" href='/landingpage'>Home</a></li>
            </div>
        </div>
        
        <div class="contentcontainer">
            <div class="content">
                <div class="box item">
                    <h1>Become a
                    <span class="iskribbler">Iskribbler <span class="pen">𓂃🖊</span></span>
                    </h1>
                    <p>Write. Share. Inspire</p>
                     <ul>
                        <li><span>✅</span>Empowering users to express their thoughts freely.</li>
                        <li><span>✅</span>Building a supportive space for like-minded individuals.</li>
                        <li><span>✅</span>Encouraging personal growth through writing, reading and sharing.</li>
                        <li><span>✅</span>Promoting honest and meaningful contents.</li>     
                    </ul>
                </div>
                <%-include("./partials/footer.ejs")%>
            </div>
            
            <div class="loginpage item">
                <div class="loginbox">
                    <div ><h1 class="signup">Log In</h1></div>
                    <div><h4 class="haveaccount">Don't have an account? <a href="/landingpage"><span class="login">Sign up</span></a></h4></div>
                    <div class="form">
                        <form action="/log" method="post">

                            <input type="text" class="userinput" id="email" name="username" required placeholder="email">
                            <input type="password" class="userinput" id="password" name="password" required placeholder="password">
                            <div class="showpassword">
                                <input type="checkbox" id="myCheckbox">
                                <label for="showpassword" id="hidepassword">showpassword</label>       
                            </div>

                            <% if(locals.errorMessage) {%>
                                <div class="errorMessage"><p><%= errorMessage %></p></div>
                                <% } %>

                            <div class="button">
                                <input class="signupButton" type="submit" value="Log in"></input>
                            </div>  
                                  
                        </form>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
<script src="/javascript.js"></script>
</html>