<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iskryb</title>
    <link rel="stylesheet" href="/styles/layout.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar">
        <button class="navbutton">☰</button>
        <div class="logo">
            <h2><a href="/landingpage">Iskryb</a></h2>
        </div>
        <div class="nav-icons">
            <li><a href='/about'>About</a></li>
            <li><a href='/landingpage'>Home</a></li>
        </div>
    </nav>

    <div class="container">

        <div class="sidebar">
            <div class="sidebar-icons">
                <div class="logoInSidebar"> 
                    <h2><a href="/landingpage">Iskryb</a></h2>
                </div>
                <li><a class="sidebar_anchor" href='/about'>About</a></li>
                <li><a class="sidebar_anchor" href='/landingpage'>Home</a></li>
            </div>
        </div>
        
        <div class="contentcontainer">
            <div class="content">
                <div class="box item">
                    <h1>Become a
                    <span class="iskribbler">Iskribbler <span class="pen">𓂃🖊</span></span>
                    </h1>
                    <p>Write. Share. Inspire</p>
                     <ul>
                        <li><span>✅</span>Empowering users to express their thoughts freely.</li>
                        <li><span>✅</span>Building a supportive space for like-minded individuals.</li>
                        <li><span>✅</span>Encouraging personal growth through writing, reading and sharing.</li>
                        <li><span>✅</span>Promoting honest and meaningful contents.</li>     
                    </ul>
                </div>
                <%-include("./partials/footer.ejs")%>
            </div>
            
            <div class="loginpage item">
                <div class="loginbox">
                    <div ><h1 class="signup">Log In</h1></div>
                    <div><h4 class="haveaccount">Don't have an account? <a href="/landingpage"><span class="login">Sign up</span></a></h4></div>

                    <div class="oauthCard">
                        <div class="googleSignIn">

                            <a class="googleButton" href="auth/google" role="button" aria-label="Sign In with Google">
                                <span>
                                    <i class="fab fa-google" style="font-size: 1rem; color: #243642"></i>
                                </span>
                                <span>Sign In with Google</span>
                            </a>  

                        </div>
                    </div>

                    <div class="Or"> 
                        <p>OR</p>
                    </div>

                    <div class="form">
                        <form action="/log" method="post">

                            <input type="text" class="userinput" id="email" name="username" required placeholder="email">
                            <input type="password" class="userinput" id="password" name="password" required placeholder="password">
                            <div class="showpassword">
                                <div class="showpass">
                                    <input type="checkbox" id="myCheckbox">
                                    <label for="showpassword" id="hidepassword">showpassword</label>  
                                </div>  
                                <div class="forgotpassword">
                                    <a href="/forgotPassword">Forgot password?</a>
                                </div> 
                            </div>

                            <% if(errorMessage && errorMessage.length > 0) {%>
                                <div class="errorMessage">
                                    <p><%= errorMessage %></p>
                                </div>
                            <% } %>
                            
                            <% if(locals.message) {%>
                                <div class="errorMessage"><% message %></div>
                                <% } %>

                            <div class="button">
                                <input class="signupButton" type="submit" value="Log in"></input>
                            </div>  
                                  
                        </form>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
<script src="/javascript.js"></script>
</html>