<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iskryb</title>
    <link rel="stylesheet" href="/styles/layout.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar">
        <button class="navbutton">☰</button>
        <div class="logo">
            <h2><a href="/landingpage">Iskryb</a></h2>
        </div>
        <div class="nav-icons">
            <li><a href='/about'>About</a></li>
            <li><a href='/landingpage'>Home</a></li>
        </div>
    </nav>

    <div class="container">

        <div class="sidebar">
            <div class="sidebar-icons">
                <div class="logoInSidebar"> 
                    <h2><a href="/landingpage">Iskryb</a></h2>
                </div>
                <li><a class="sidebar_anchor" href='/about'>About</a></li>
                <li><a class="sidebar_anchor" href='/landingpage'>Home</a></li>
            </div>
        </div>
        
        <div class="contentcontainer">
            <div class="content">
                <div class="box item">
                    <h1>Become a
                    <span class="iskribbler">Iskribbler <span class="pen">𓂃🖊</span></span>
                    </h1>
                    <p>Write. Share. Inspire</p>
                     <ul>
                        <li><span>✅</span>Empowering users to express their thoughts freely.</li>
                        <li><span>✅</span>Building a supportive space for like-minded individuals.</li>
                        <li><span>✅</span>Encouraging personal growth through writing, reading and sharing.</li>
                        <li><span>✅</span>Promoting honest and meaningful contents.</li>     
                    </ul>
                </div>
                <%-include("./partials/footer.ejs")%>
            </div>
            
            <div class="loginpage item">
                <div class="loginbox">
                    <div ><h1 class="signup">Find your account</h1></div>
                    <div><h4 class="haveaccount">Create a new password that is at least 6 characters long. A strong password is combination of letters, numbers, and punctuation marks.</h4></div>

                    <div class="forgotPasswordForm">

                        <div class="form">

                            <form action="/reset-password/<%= locals.token %>" method="post">

                                <input type="password" class="userinput_password" id="password" name="password" required placeholder="password">

                                <div class="showpassword">
                                    <div class="showpass">
                                        <input type="checkbox" id="myCheckbox">
                                        <label for="showpassword" id="hidepassword">showpassword</label>  
                                    </div>  
                                </div>

                                <!-- show a error message to the client -->
                                <% if(locals.errorMessage) {%>
                                    <div class="errorMessage"><p><%= errorMessage %></p></div>
                                <% } %>

                                <% if(locals.message) {%>
                                    <div class="errorMessage"><% message %></div>
                                <% } %>

                                <div class="button">
                                    <input class="forgotButton" type="submit" value="Continue"></input>

                                    <div class="cancelButton">
                                        <a href="/login" class="cancelButton">Cancel</a>    
                                    </div> 
                                </div>  

                            </form>

                        </div> 


                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
<script src="/javascript.js"></script>
</html>